$row-name: row;
$col-name: col;
$cols: 12;
$gutter: 1rem;
$sizes: (
  xs: null,
  sm: 40em,
  md: 60em,
  lg: 80em
);

.#{$row-name} {
  display: flex;
  flex-flow: row wrap;
  margin: -$gutter/2;
}

[class*='#{$col-name}-'] {
  flex: 0 0 100%;
  overflow: hidden;
  padding: $gutter/2;
}

@mixin grid($size) {
  @for $col from 1 through $cols {
    .#{$col-name}-#{$size}-#{$col} {
      flex-basis: percentage($col/$cols);
      max-width: percentage($col/$cols);
    }
  }
}

@each $size, $bp in $sizes {
  @if $bp {
    @media screen and (min-width: $bp) {
      @include grid($size);
    }
  } @else {
    @include grid($size);
  }
}